* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    letter-spacing: 0.02;
    font: size 16px;
}
img{
    display: block;
}
ul,
ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}



.container {
    max-width: 1158px;
    padding: 0 15px;;
    margin: 0 auto;
    
}
.header{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.03em;
    border-bottom: 1px solid #e7e9fc;
}
.header-container{
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #4d5ae5;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    
    }
  .navbar {
    display: flex;
    align-items: center;
            
 }
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.navbar .logo:hover,
.navbar .logo:focus{
    color: #404bbf;

}
.span-studio {
    color: #2e2f42;
   
}
.navbar-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-punkt {
    display: block;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #2e2f42;
    padding: 24px 0;
}
.navbar-punkt:focus,
.navbar-punkt:hover{
    color: #404bbf;
}
.contact{
    margin-left: auto;
    font-style: normal;
    font-weight: 400;
    
}
.contact-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.contact-way {
    line-height:1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding: 24px 0;

    
}
.contact-way:focus,
.contact-way:hover {
    color: #404bbf;
}


.title{
    background-color: #2e2f42;
    height: 600px;
}
.container-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.title-capture{
    display: block;
    color: #ffffff;
    font-size:56px;
    font-weight: bold;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    width: 496px;
    height: 120px;
    padding-top: 188px;
    padding-bottom: 36px;
    margin-bottom: 59px;

   }
.order-button{
    background-color:#4d5ae5;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    display: flex;
    width: 169px;
    height: 56px;
    justify-content: center;
    align-items: center;
    margin-top: 59px;
}
.order-button:hover, .order-button:focus{
    background-color: #404BBF;
}

.visually-hidden{
    font-weight: 700;
    letter-spacing: 0.02em;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.strengths-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    
}
.strengths-list-text{
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team{
    background-color: #F4F4FD;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    letter-spacing: 0.02em;

}
.team-list{
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}
.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.team-list-text {
    font-weight: 400;
    line-height: 1.5;
    
}

.portfolio{
    display: flex-inline;
}
.portfolio-title {
    font-weight: 700;
    font-size:36px;
    line-height:1.11;
    text-align:center;
    text-transform: capitalize;
    color:#2e2f42;
    letter-spacing: 0.02em;
}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.portfolio-list-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer{
    background-color: #2e2f42;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;  
    font-weight: 400;
}
.footer .span-studio {
    color: #f4f4fd;
    line-height: 1.17;
}
.footer-text{
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}